In [1]:
# Data types

In [2]:
# Strings

In [3]:
name = "Jaidev Kler"

In [4]:
type(name)

str

In [5]:
# Float

In [6]:
wage = 32.5

In [7]:
type(wage)

float

In [8]:
# Integer

In [9]:
year = 2024

In [10]:
type(year)

int

In [11]:
# Boolean

In [12]:
class_today = True

In [13]:
type(class_today)

bool

In [14]:
# Print statements

In [15]:
print("My name is", name)

My name is Jaidev Kler

In [16]:
print("My hourly wage is", wage)

My hourly wage is 32.5

In [17]:
# Input function

In [18]:
new_name = input("Name a basketball player: ")

Name a basketball player:

In [19]:
new_name

''

In [20]:
type(new_name)

str

In [21]:
age = input("What is your age? ")

What is your age?

In [22]:
type(age)

str

In [23]:
# Type casting

In [24]:
age = float(input("What is your age? "))

What is your age?

ValueError: could not convert string to float: ''

In [ ]:
type(age)

In [25]:
# Operators

In [26]:
# Addition

In [27]:
2 + 3

5

In [28]:
# Subtraction

In [29]:
5 - 2

3

In [30]:
# Multiplication

In [31]:
5 * 2

10

In [32]:
# Division

In [33]:
10 / 2

5.0

In [34]:
# Modulus

In [35]:
9 % 2

1

In [36]:
# Floor Division

In [37]:
9 // 2

4

In [38]:
# Power

In [39]:
2 ** 3

8

In [40]:
# Order of precedence - PEMDAS

In [41]:
5 - 3 * 2

-1

In [42]:
# Strings can be wrapped in either single or double quotes

In [43]:
"My name is Jaidev Kler"

'My name is Jaidev Kler'

In [44]:
'My name is Jaidev Kler'

'My name is Jaidev Kler'

In [45]:
# Escape character

In [46]:
new_string = 'My name is Jaidev Kler \nI am enrolled in the AI Bootcamp \nClasses are on MWF'

In [47]:
print(new_string)

My name is Jaidev Kler
I am enrolled in the AI Bootcamp
Classes are on MWF

In [48]:
"""Multiple Line Comments

The aim of this function to...

Arguments

Output

"""

'Multiple Line Comments\n\nThe aim of this function to...\n\nArguments\n\nOutput\n\n'

In [49]:
# F-strings

In [50]:
print(f"My name is {name}")

My name is Jaidev Kler

In [51]:
print(f'My hourly wage is ${wage} and \nMy name is {name}')

My hourly wage is $32.5 and
My name is Jaidev Kler

In [52]:
# String manipulation

In [53]:
new_name = 'kobe bryant'

In [54]:
new_name.upper()

'KOBE BRYANT'

In [55]:
new_name.lower()

'kobe bryant'

In [56]:
new_name.title()

'Kobe Bryant'

In [57]:
new_line = '-'

In [58]:
new_line * 50

'--------------------------------------------------'

In [59]:
# Lists

In [60]:
list_one = [1,2,3,4,5]

In [61]:
list_two = ["Toyota", 2024, 4.0, True]

In [62]:
# Indexing

In [63]:
list_two[0]

'Toyota'

In [64]:
list_two[-1]

True

In [65]:
# Slicing

In [66]:
list_one[1:4]

[2, 3, 4]

In [67]:
list_one[0:4]

[1, 2, 3, 4]

In [68]:
list_one[2:]

[3, 4, 5]

In [69]:
list_one[:3]

[1, 2, 3]

In [70]:
list_one[:]

[1, 2, 3, 4, 5]

In [71]:
list_one[:-1]

[1, 2, 3, 4]

In [72]:
# List functions in python - index, append, pop, remove, len, max, min, sum

In [73]:
list_two.index("Toyota") # returns the index of a list item

0

In [74]:
list_one.append(6) # method adds elements to the end of the list

In [75]:
list_one

[1, 2, 3, 4, 5, 6]

In [76]:
list_one.pop(2) # method removes value by index

3

In [77]:
list_one

[1, 2, 4, 5, 6]

In [78]:
list_one.remove(6) # removes given value

In [79]:
list_one

[1, 2, 4, 5]

In [80]:
len(list_one) # returns length of list

4

In [81]:
max(list_one) # returns maximum value in a list

5

In [82]:
min(list_one) # returns minimum value in a list

1

In [83]:
sum(list_one) # returns sum of the list

12

In [84]:
# Tuples - similar to lists but are immutable

In [85]:
new_tuple = (1,2,3,4,5)

In [86]:
new_list = [1,2,3, ("Toyota",1,2)]

In [87]:
new_list[0] = 20

In [88]:
new_list

[20, 2, 3, ('Toyota', 1, 2)]

In [89]:
new_tuple[1] = 3 # They are immutabe so an error will be displayed with this cell is run

TypeError: 'tuple' object does not support item assignment

In [90]:
print(new_tuple)

(1, 2, 3, 4, 5)

In [91]:
type(new_tuple)

tuple

In [92]:
# Conditionals - if, if else, elif

In [93]:
temp = 70

In [94]:
if temp > 80:
    print("Hot")
elif temp >= 60:
    print("Good")
elif temp >= 40:
    print("Cold")
elif temp < 40:
    print("Too cold")

Good

In [95]:
# Comparison operators >, >=, <, <=, ==, !=

In [96]:
5 == 3

False

In [97]:
5 >= 3

True

In [98]:
5 != 3

True

In [99]:
5 <= 3

False

In [100]:
# Input validation

In [101]:
string = input("How old are you? ")

How old are you?

In [102]:
if string.isdigit():
    print("Input is a number")
else:
    print("Input not a number")

Input not a number

In [103]:
# Logical operators - and, or, not

In [104]:
x = 5
y = 5

In [105]:
if x == 5 or y == 5:
    print("True")
else:
    print("False")

True

In [106]:
if x == 3 or y == 5:
    print("True")
else:
    print("False")

True

In [107]:
if not True :
    print("True")
else:
    print("False")

False

In [108]:
# Membership operators - in or not in

In [109]:
asian_countries = ['India', 'China', 'Japan', 'Korea']

In [110]:
for country in asian_countries:
    print(country)

India
China
Japan
Korea

In [111]:
if 'India' in asian_countries:
    print('True')

True

In [112]:
if 'USA' not in asian_countries:
    print('True')

True

In [113]:
# Identity operators - is, is not

In [114]:
if type("Juan") is str:
    print("It is a string")

It is a string

In [115]:
if type("Juan") is not float:
    print("Not a float")
else:
    print('This is a float')

Not a float

In [116]:
# Loops

In [117]:
# For loops

In [118]:
range(5) # Creates a datatype of type range

range(0, 5)

In [119]:
for x in range(3): # range 3 will give values 0 to 2 (3 will be excluded)
    print(x)

0
1
2

In [120]:
for x in range(3,10): # range will give values 3 to 9 (10 will be excluded)
    print(x)

3
4
5
6
7
8
9

In [121]:
for x in range(5):
    print(x*x)

0
1
4
9
16

In [122]:
# Looping through strings

In [123]:
word = 'Artificial Intelligence'

In [124]:
for letters in word: # Iterate through letters in a string
    print(letters)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [125]:
# Looping through lists

In [126]:
cars = ['Toyota','Mercedes','BMW','Tesla']

In [127]:
print(cars)

['Toyota', 'Mercedes', 'BMW', 'Tesla']

In [128]:
for car in cars:
    print(car)

Toyota
Mercedes
BMW
Tesla

In [129]:
# while loops

In [130]:
condition = 'y'

In [131]:
while condition == 'y':
    print('Condition is true')
    condition = input('Enter "y" or "n"? ')

Condition is true
Enter "y" or "n"?

In [132]:
number = 1

In [133]:
while number <= 10:
    print(number)
    number += 1

1
2
3
4
5
6
7
8
9
10

In [134]:
# Special operators for use in loops: +=, _

In [135]:
x = 10

In [136]:
x += 5 # x = x + 5

In [137]:
print(x)

15

In [138]:
for _ in range(5): # Dummy varible
    print("My name is Jaidev")

My name is Jaidev
My name is Jaidev
My name is Jaidev
My name is Jaidev
My name is Jaidev

In [139]:
# break keyword

In [140]:
while True:
    print("Hi")
    break

Hi

In [141]:
# Match case

In [142]:
grade = 'B'

In [143]:
if grade == 'A':
    print('90-100')
elif grade == 'B':
    print('80-90')
elif grade == 'C':
    print('70-80')
elif grade == 'D':
    print('60-70')
elif grade == 'F':
    print('Less than 60')

80-90

In [144]:
match grade:
    case 'A':
        print('90-100')
    case 'B':
        print('80-90')
    case 'C':
        print('70-80')
    case 'D':
        print('60-70')
    case 'F':
        print('Grade is less than 60')

80-90

In [145]:
# Dictionaries - multiple vales and multiple data types. Dicts store data in key-value pairs

In [146]:
car = dict()

In [147]:
car = {}

In [148]:
type(car)

dict

In [149]:
car["make"] = "Toyota"

In [150]:
print(car)

{'make': 'Toyota'}

In [151]:
car['make']

'Toyota'

In [152]:
car = {
    'make': 'Toyota',
    'model': 'Camry',
    'engine': 4.0,
    'year': 2024,
    'warranty': True
       }

In [153]:
car['warranty']

True

In [154]:
car['year']

2024

In [155]:
actors = {}

In [156]:
actors_list = [
    "Tom Cruise",
    "Angelina Jolie",
    "Kristen Stewart",
    "Denzel Washington"]

In [157]:
actors["name"] = actors_list

In [158]:
print(actors)

{'name': ['Tom Cruise', 'Angelina Jolie', 'Kristen Stewart', 'Denzel Washington']}

In [159]:
actors['name']

['Tom Cruise', 'Angelina Jolie', 'Kristen Stewart', 'Denzel Washington']

In [160]:
actors['name'][-1]

'Denzel Washington'

In [161]:
# Nested data structures

In [162]:
# List of lists

In [163]:
new_list = [
      ["James", "Noor", "Ayoka"],
      [65, 72, 80],
      ["Washington", "Kuala Lumpur", "Abuja"]
]

In [164]:
print(new_list)

[['James', 'Noor', 'Ayoka'], [65, 72, 80], ['Washington', 'Kuala Lumpur', 'Abuja']]

In [165]:
new_list = [
    {
        "name": "James",
        "score": 50,
        "city": "Washington"
    },
    {
        "name": "Noor",
        "score": 72,
        "city": "Kuala Lumpur"
    }
]

In [166]:
print(new_list)

[{'name': 'James', 'score': 50, 'city': 'Washington'}, {'name': 'Noor', 'score': 72, 'city': 'Kuala Lumpur'}]

In [167]:
new_list[0]

{'name': 'James', 'score': 50, 'city': 'Washington'}

In [168]:
new_list[-1]['city']

'Kuala Lumpur'

In [169]:
# List comprehensions

In [170]:
numbers = [1, 2, 3, 4, 5, 6]

In [176]:
# Standard for loop
squares = []

for number in numbers:
    squares.append(number ** 2)

print(squares)

[1, 4, 9, 16, 25, 36]

In [177]:
# List comprehension
squares = [number**2 for number in numbers] 

print(squares)

[1, 4, 9, 16, 25, 36]

In [178]:
# List comprehension with a condition
squares = [number ** 2 for number in numbers if number > 3]

print(squares)

[16, 25, 36]